@font-face {
    font-family: 'Outer Sans';
    src: url('../assets/fonts/Outer_sans_bold.otf');
}

@font-face {
    font-family: 'Galvji';
    src: url('../assets/fonts/Galvji.ttf');
}

@font-face {
    font-family: 'Galvji Bold';
    src: url('../assets/fonts/Galvji-Bold.ttf');
}
