
.top-container{
    background-image: url('/assets/images/vector.png');
    width: 100%;
    height: 400px;
    position: relative;
}

.contact{
    background-color: var(--background--color);

    &__title{
        font-size: 3rem;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 150px;
    }
    &__info-container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-bottom: 100px;
    }
    &__link{
        font-size: 1.4rem;
        margin-left: 15px;
    }
    &__icon{
        font-size: 1.4rem;
    }
}




