
.header{
    width: 100%;
    min-height:700px;
    background-color: var(--backgroud---color);
}

.menu-container{
    width: 40%;
    font-family: 'Galvji Bold';
    font-size: 2rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}


.title__intro{
    width: 70%;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: var(--secondary-color);

}

.subtitle__intro{
    width: 60%;
    font-size: 2vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: -30px;
}